@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
@import url(/css/global.css);
*{
    margin: 0;
    padding: 0;
    
    font-family: "Epilogue";
    transition: all 0.1s ease-out;
}
.heee{
    display: flex;
    gap: 62px;
}
.heee img{
    object-fit: cover;
}
.headright a{
    margin-right: 40px;
}
.head-btn{
    width: 104px;
    height: 42px;
    border-color:  Grey;
    color:  Grey;
    background-color: transparent;
    border-radius: 14px;
}

.hederone{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-self: 300px;
    transition: all 0.7s;
    justify-content: space-between;
    margin-top: 32px;
    
}

.hed-ul{
    display: flex;
    gap: 40px;
    position: relative;
    transition: all 0.7s;
}
.section-1{
    display: flex; 
    justify-content: space-evenly; 
    width: 100%;
    position: absolute;
    margin-top: 70px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
}
.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    width: 540px;
    font-size: 80px;
    margin-bottom: 48px;
}
.hero p{
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #686868;
    margin-bottom: 51px;
}
.hero-btn{
    width: 163px;
    height: 56px;
    border-radius: 15px;
    background-color: #151515;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    display: flex;
    gap: 40px;
    margin-top: 150px;

}
.heee{
    position: relative;
}


.item{
display: none;
font-size: 14px;

}

.heddenr{
    position: absolute;
    top: 30px;
    left: 0;

}
.head-li{
    
}
.heddenr1{
    position: absolute;
    top: 30px;
    left: 115px;
    padding-left: 25px;
    color: gray;
    gap: 16px;
    justify-content: center;
    border-radius:10px;
    width: 70px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.hedimg{
    margin-right: 10px;
    
}

.head-li:hover .item{
    transition: all 0.4s;
    cursor: pointer;
    display: block;
    visibility: visible;
    padding: 1px;

}
.head-li:hover .heddenr{
    right: 0;
    border-radius:10px;
    width: 120px;
    height: 150px;
    box-shadow: #000000 3px 3px 10px 2px;
    display: flex;
    z-index: 3;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

.head-li:hover .heddenr1{
    right: 0;
    border-radius:10px;
    width: 100px;
    height: 100px;
    box-shadow: #7c7b7b 1px 2px 20px 1px ;
    background-color:#fff;
    color: black;
}

